@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>Welcome to </h1>*@
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@


    <div class="homepage_logo_large"></div>



    <div class="row">
        <div class="col-md-4">
            <h2>Combined Power</h2>
            <p>
                OneBox allows users to store all their files in one place, so while your coworkers
                have to circulate between several online vaults, OneBox combines the power of all your
                online storage into one master vault. Work smarter, not harder.
            </p>
            @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Unrivaled Space</h2>
            <p>You thought Google Drive and Dropbox got you space? Think again. OneBox gives you 100 gigs of fictional space on registration.</p>
        </div>
        <div class="col-md-4">
            <h2>Simply Better</h2>
            <p>Want to experience what OneBox has to offer? </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>

</div>