

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@{
    ViewBag.Title = "DashboardTest";
}

<div class="dashboard_body">
    <div class="dashboard_container">
        <div class="dashboard_contextual_menu"></div>
        <div class="dashboard_file_container">
            <h2>DashboardTest</h2>
            @Html.ActionLink("User Profile", "ProfileTemplate");
        </div>
    </div>
</div>